@page
@model IndexModel
@{
    ViewData["Title"] = "Startowa";
}

<div class="text-center">
    <h3 class="display-4">
    <p><br />
        Przekrocz granice kodowania z naszą platformą egzaminacyjną!<br />
        Doskonal swoje umiejętności informatyczne, <br />
        zdobywaj cenne certyfikaty i otwieraj drzwi do nowych możliwości. <br />
        Rozpocznij swoją podróż przez świat technologii już dziś!<br /><hr />
        Wybierz egzamin z listy na górze strony
    </p></h3>
</div>
